<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">USERNAME</label>
    <input type="text" name="username" [(ngModel)]="anytext" required class="input-box">
  </div>

  <div class="form-group">
    <label for="email">EMAIL</label>
    <input type="email" name="email" [(ngModel)]="email" required class="input-box">
  </div>

  <div class="form-group">
    <label for="phone">PHONE NUMBER</label>
    <input type="tel" name="phone" [(ngModel)]="phone" class="input-box">
  </div>

  <div class="form-group">
    <label for="address">ADDRESS</label>
    <input type="text" name="address" [(ngModel)]="address" class="input-box">
  </div>

  <div class="form-group">
    <label for="birthdate">BIRTHDATE</label>
    <input type="date" name="birthdate" [(ngModel)]="birthdate" class="input-box">
  </div>

  <button class="btn" type="submit" [disabled]="!anytext">Submit</button>
</form>

<p *ngIf="submitted">You Have Entered: <br> Username: {{ anytext }} <br> Email: {{ email }} <br> Phone: {{ phone }} <br> Address: {{ address }} <br> Birthdate: {{ birthdate }}</p>
